################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GameOfLife/obj
/GameOfLife/bin/Debug/netcoreapp3.1
